deploy:
    name: Deploy Streamlit App
    runs-on: ubuntu-latest
#    needs: security-scan  # run only after scan

    env:
      COHERE_API_KEY: ${{ secrets.COHERE_API_KEY }}
      PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
      
      - name: Deploy to GCP VM
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.GCP_HOST }}
          username: ${{ secrets.GCP_USER }}
          key: ${{ secrets.GCP_SSH_KEY }}
          port: ${{ secrets.GCP_PORT || 22 }}
          envs: COHERE_API_KEY,PINECONE_API_KEY
          script: |
            set -e

            echo "Stopping existing Streamlit app..."
            sudo fuser -k 8501/tcp || true

            echo "Installing dependencies..."
            #sudo apt update
            sudo apt install -y python3 python3-venv python3-pip git curl            

            echo "Removing old app..."
            rm -rf rag-application

            echo "Cloning latest repo..."
            git clone https://github.com/pidcai/rag-application.git
            cd rag-application

            echo "Setting up Python virtual environment..."
            python3 -m venv env
            source env/bin/activate

            echo "Installing requirements..."
            pip install --upgrade pip
            pip install -r requirements.txt

            echo "Launching Streamlit app..."
            nohup bash -c 'COHERE_API_KEY="${{ secrets.COHERE_API_KEY }}" \
            PINECONE_API_KEY="${{ secrets.PINECONE_API_KEY }}" \
            streamlit run streamlit_ui.py > streamlit.log 2>&1 &'

            echo " Streamlit deployment triggered!"
